/*** 全局去除滚动条 ****/
*::-webkit-scrollbar{
  display: none !important;
}
button,input,textarea{
  outline: none;
}
/* \ flex布局 */
.flexBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* // 改变主轴方向 */
.flexColumn{
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}
/* // 两端对齐 */
.flexBetween{
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

}
/* // 垂直居中 */
.flexAlign{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* // 左对齐 */
.flexLeft {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;

}
.flexRight {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  justify-content: flex-end;

}
/* // 水平居中 */
.flexCenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flexMiddle{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flexWrap{
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap:wrap;
}
/* 水平垂直居中 */
.alignCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}
/* 分割段 */
.divider{
  width: 100%;
  height: 0.1rem;
  background-color: #f8f8f8;
}
/* padding 左右15px */
.p15{
  padding: 0 0.15rem;
}
.mb10{
  margin-bottom: 0.1rem;
}
/* 图片占满 */
.fullImg{
  width: 100%;
  height: 100%;
}
/* 文字超出省略号 */
.textEllipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 底部边框 */
.grayBorder{
  border-bottom: 1px solid #F8F8F8;
}
/* padding=20 */
.hoge-padding{
  padding: 20px;
}
.hoge-white{
  background: #fff;
}
.hoge-font-blue{
  color: #0091FF;
}
.hoge-font-primary{
  color: #333333;
}
.mxu-headings{
  font-size: 14px;
  color: #333333;
  line-height: 14px;
  margin-bottom: 20px;
  font-family: PingFangSC-Medium;
}
.hoge-lf{
  float: left;
}
.hoge-rf{
  float: right;
}
.hoge-clear{
  clear: both;
}
/* // 预览 */
.typeface-form_yulan{
  display: inline-block;
  width: 13px;
  height: 10px;
  /* background: url(../../assets/image/workBench/icon_yulan.png) no-repeat; */
  margin-right: 8px;
}
.typeface-form_pinglun{
  display: inline-block;
  width: 13px;
  height: 11px;
  /* background: url(../../assets/image/workBench/icon_pinglun.png) no-repeat; */
  margin-right: 8px;
}
/** 字体*/
i.fa{
  color: #bbb;
}
i.fa:hover{
  color: #409EFF !important;
}
.hoge-error{
  text-align: center;
  width: 100%;
  height: 100%;
  color: #a7bdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoge-error div p{
  border: none !important;
  margin-bottom: 0!important;
  font-size: 14px!important;
  margin-top: 8px!important;
}
.nodata-img{
  display: inline-block;
  /* background-image: url(../image/img_nothing.png); */
  width: 95px;
  height: 70px;
}
.dwonoadIcon,.praiseIcon,.collectionIcon,.readersIcon{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
/* .dwonoadIcon{
  background: url(../image/homePage/hover_download@1x.png) no-repeat;
}
.collectionIcon{
  background: url(../image/homePage/hover_collect@1x.png) no-repeat;
}
.readersIcon{
  background: url(../image/homePage/hover_view@1x.png) no-repeat;
}
.praiseIcon{
  background: url(../image/homePage/hover_praise@1x.png) no-repeat;
}
.commentIcon{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../image/homePage/hover_collected.png) no-repeat;
}
.womenIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../image/personal/sex_girl.png) no-repeat;
}
.manIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../image/personal/sex_boy.png) no-repeat;
}
.idCardRenxiang{
  width: 60px;
  height: 32px;
  display: inline-block;
  background: url(../image/signing/icon_qianyue_renxiang.png) no-repeat;
}
.idCardGuohui{
  width: 30px;
  height: 32px;
  display: inline-block;
  background: url(../image/signing/icon_qianyue_guohui.png) no-repeat;
}
.signingProduct{
  width: 30px;
  height: 32px;
  display: inline-block;
  background: url(../image/userInfo/icon_num_works@2x.png) no-repeat;
} */
.captchaIcon{
  width: 13px;
  height: 14px;
  display: inline-block;
  background: url(../images/login/captcha.png) no-repeat;
}
.phoneIcon{
  width: 11px;
  height: 17px;
  display: inline-block;
  background: url(../images/login/phone.png) no-repeat;
}
.nameIcon{
  width: 13px;
  height: 14px;
  display: inline-block;
  background: url(../images/login/name.png) no-repeat;
}
.passwordIcon{
  width: 11px;
  height: 14px;
  display: inline-block;
  background: url(../images/login/password.png) no-repeat;
}
.is_readIcon{
  width: 15px;
  height: 11px;
  display: inline-block;
  background: url(../images/login/is_read.png) no-repeat;
}
.no_readIcon{
  width: 15px;
  height: 7px;
  display: inline-block;
  background: url(../images/login/no_read.png) no-repeat;
}
.homeIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/home/tab_home.png) no-repeat;
  background-size: contain;
}
.homeIconActive{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/home/tab_home_active.png) no-repeat;
  background-size: contain;
}
.myIcon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/home/tab_my.png) no-repeat;
  background-size: contain;
}
.myIconActive{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/home/tab_my_active.png) no-repeat;
  background-size: contain;
}
.publishIcon{
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(../images/home/publish.png) no-repeat;
  background-size: contain;
}
.searchIcon{
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../images/home/search.png) no-repeat;
  background-size: contain;
}
.backIcon{
  width: 0.19rem;
  height: 0.19rem;
  display: inline-block;
  background: url(../images/list/goback.png) no-repeat;
  background-size: contain;
}
.moreIcon{
  width: 0.08rem;
  height: 0.13rem;
  display: inline-block;
  background: url(../images/common/more.png) no-repeat;
  background-size: contain;
}
.viewIcon{
  width: 0.19rem;
  height: 0.14rem;
  display: inline-block;
  background: url(../images/detail/view.png) no-repeat;
  background-size: contain;
}
.praiseIcon{
  width: 0.16rem;
  height: 0.14rem;
  display: inline-block;
  background: url(../images/detail/praise.png) no-repeat;
  background-size: contain;
}
.praisedIcon{
  width: 0.16rem;
  height: 0.14rem;
  display: inline-block;
  background: url(../images/detail/praised.png) no-repeat;
  background-size: contain;
}
.downloadIcon{
  width: 0.14rem;
  height: 0.13rem;
  display: inline-block;
  background: url(../images/detail/download.png) no-repeat;
  background-size: contain;
}
[v-cloak]{
  display: none;
}
